        *, div, h2, p, dl, dt, dd{margin:0; padding:0;}
        #wrap{width:100%;}
        #content{width:600px; margin:50px auto 0; text-align:center;}
        #content p{padding-bottom:20px;}
        
        #accordion{width:380px; margin:0 auto;}
        #accordion dl{width:100%; background:gold}
        #accordion dt{width:100%; padding:3px 0; color:#333;
            background-image:linear-gradient(to bottom, rgba(153, 153, 153) 0%, rgb(248, 248, 248) 50%, rgb(153, 153, 153) 100% );
            background-image:-webkit-linear-gradient(to bottom, rgba(153, 153, 153) 0%, rgb(248, 248, 248) 50%, rgb(153, 153, 153) 100% );
            background-image:-moz-linear-gradient(to bottom, rgba(153, 153, 153) 0%, rgb(248, 248, 248) 50%, rgb(153, 153, 153) 100% );
            background-image:-ms-linear-gradient(to bottom, rgba(153, 153, 153) 0%, rgb(248, 248, 248) 50%, rgb(153, 153, 153) 100% );
            background-image:-o-linear-gradient(to bottom, rgba(153, 153, 153) 0%, rgb(248, 248, 248) 50%, rgb(153, 153, 153) 100% );}
        #accordion dd{background-color:#333; color:#999; font-size:13px; padding:5px;
            text-align: left; display:none;}
        