 *{margin:0; padding:0;}
      li{list-style:none;}
      a:link, a:visited{text-decoration:none; color:#000;}

      body{font-family:굴림}
      #wrap{min-width:1025px; width:100%;}

      /* ################################# conatiner 공통작업 ################################# */
      #container{width:100%;}
      #container h2{width:100%; padding:50px 0 0; text-align:center;
         font-size:40px;
         font-family:궁서;
         font-weight:900;}
      .moreBox{width:100%; height:50px;
         padding:20px 0 50px;}
      .moreBox a{width:150px; line-height:50px; font-weight:700; border:2px solid #aaa; display:block; text-align:center;}

      /* ################################# visual ################################# */
      #visual {width:100%; height:1000px; text-align:center; overflow:hidden; /* background-color: gold; */}
      #visual p{width:472px; height:960px; line-height:960px; margin-left:300px;}
      #visual p img{width:100%;}

      /* #################################  txt  ################################# */

      #txt {width:100%; height:954px; background-color:#f5f5f5;}
      #txt .txt_inner {width:100%;}
      #txt h2 {line-height:90px; font-size:80px; padding:280px 0 50px; font-family:batang;}
      #txt .text {font-size:18px; text-align:center;}
      #txt .txt_inner ul{width:1200px; height:420px;  margin:0 auto;}
      #txt .txt_inner li {width:600px; text-align:center; float:left;}
      #txt .txt_inner li .label{padding:70px 30px 10px; font-size:30px; /* background: gold; */}
      #txt .txt_inner li .number{font-size:60px; /* background: blue; */}

      /* #################################  Featured  ################################# */
      #featured {width:100%; height:954px; background-color:#201e1f; color:#fff;}
      #featured .featured_inner{width:1030px; height:690px; overflow:hidden; margin:0 auto;}
      #featured .featured_inner ul{width:100%; height:100%;}
      #featured .featured_inner li{width:290px; height:290px; margin:40px 0 0 40px;  float:left;}
      #featured .featured_inner a{width:100%; display:block;}
      #featured .featured_inner span{width:100%; display:block;}
      #featured .featured_inner img{width:100%;}
      #featured .moreBox a{text-align:center; margin:0 auto; color:#fff;}

      /* #################################  sale  ################################# */
      #sale{width:100%; height:954px; background-color:#f7f7f7;}
      #sale h2{margin-bottom:40px;}
      /* 윗부분 */
      #sale .sale_inn_small{width:1165px; height:250px; margin:0 auto 80px;}
      #sale .sale_inn_small ul{width:100%; height:100%;}
      #sale .sale_inn_small li{width:213px; height:100%; margin-left:20px; float:left;}
      #sale .sale_inn_small a{width:100%; height:100%; display:block;}
      #sale .sale_inn_small img{width:100%; height:100%;}
      /* 아랫부분 */
      #sale .sale_inn_big{width:1220px; overflow:hidden; margin:0 auto;}
      #sale .sale_inn_big p{width:570px; /*height:460px;*/ margin-left:40px; text-align:center; float:left;}
      #sale .sale_inn_big a{width:100%; height:100%; display:block; }
      #sale .sale_inn_big img{width:100%; height:100%;  border-radius: 50px 50px; }
      
      /* ################################# midlle_box ################################# */
      #middle_box{width: 100%; height: 300px; overflow:hidden; margin-top:50px; background-color:#201e1f;}
      #middle_box div{width: 1100px; height:100%; margin: 0 auto;}
      #middle_box .desc {padding-top:80px; color: #fff; font-size: 40px; font-weight:700;}
      #middle_box .desc span{line-height:50px;; font-size: 16px; color:#ccc;  font-weight:400;}
      #middle_box a{color: #fff; font-weight:700;}


      /* ################################# recomended ################################# */
      #recomended{width:100%; height:954px; background-color:#f5f5f5}
      #recomended .reco_inn{width:1460px; height:688px; overflow:hidden;  padding-top:40px; margin:0 auto;}
      /* 왼쪽 */ 
      #recomended .left{width:335px; height:100%; float:left;}
      #recomended .left ul{width:100%; height:100%;}
      #recomended .left li{width:100%; height:327px; margin-top:17px;}
      #recomended .left a{width:100%; height:100%;}
      #recomended .left img{width:100%; height:100%;}
      /* 중간 */
      #recomended .middle{width:550px; margin:17px; height:100%; float:left;}
      #recomended .middle p{width:100%; height:791px;}
      #recomended .middle a{width:100%; height:100%;}
      #recomended .middle img{width:100%;  height:100%;}
      /* 오른쪽 */
      #recomended .right{width:541px; height:100%; float:left;}
      #recomended .right ul{width:100%; height:100%;}
      #recomended .right li{height:337px; margin-top:17px;}
      /* 오른쪽-위 */
      #recomended .top{width:524px; height:100%;}
      #recomended .top a{width:100%; height:100%;}
      #recomended .top img{width:100%; height:100%;}
      /* 오른쪽-밑 */
      #recomended .bottom{width:253px; height:100%; margin-right:17px; float:left;}
      #recomended .bottom a{width:100%; height:100%;}
      #recomended .bottom img{width:100%; height:100%;}
      /* morebox */
      #recomended .moreBox{width:100%; padding-top:30px;}
      #recomended .moreBox a{background-color:#201e9a; text-align:center; margin:0 auto; color:#fff; border:none;}


      /* ################################# update ################################# */
      #update{width:100%; height:954px; margin:0 auto; background-color:#fff}

      /* 위_메뉴 */
      #update .menu{width:100%; height:40px;}
      #update .menu ul{width:873px; height:30px; padding-top:10px; font-weight:700; text-align:center;  margin:50px auto ;}
      #update .menu li{width:auto; margin-right:5px; padding:0 15px; height:20px; line-height:20px; border-right:1px solid #ccc; float:left;}
      #update .menu a{width:100%; height:100%;  color:#333;}

      /* 아래_게임 */
      #update .game{width:810px; height:640px; margin:0 auto;}
      #update .game ul{width:100%; height:100%; }
      #update .game li{width:250px; height:300px; margin:20px 20px 0 0; float:left;}
      #update .game a{width:100%; height:100%; display:block;}
      #update .game img{width:100%; height:100%;}


      /* ################################# Steam ################################# */
      #EA{width: 100%; height: 450px;
         background-image: url("img/s3.jpg");
         background-repeat: no-repeat;
         background-position: center center;}
      #EA div{width: 980px; margin: 0 auto;}
      #EA h3 {padding-top: 150px; color: #f00; font-size: 50px;}
      #EA .desc {color: #fff; font-size: 20px; padding: 20px 0;}
      #EA .moreBox a {color: #fff; border: 1px solid #fff;}