        div{width:500px; margin:50px auto 0; box-shadow:5px 5px 10px #333; position:relative;}
        img{width:100%;}
        .text{font-size:13px; width:210px; font-weight:700; position:absolute; right:30px; top:63%;}
        .text span{font-size:11px;}
        .tooltip{width:200px; position:absolute; left:0; top:0;}